html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
 
}

a img:last-child {
  display: none;  
}
a:hover img:last-child {
  display: block;  
  width:100%;
}
a:hover img:first-child {
  display: none;  
}